on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: Build and Push to GCR

env:
  PROJECT_ID: ${{ secrets.GCR_PROJECT }}

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Get version from tags
      id: get_version
      run: echo ::set-env name=VERSION::${GITHUB_REF#refs/*/}

    - name: Set up gcloud command
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        service_account_key: ${{ secrets.GCR_SA_KEY }}
        project_id: ${{ secrets.GCR_PROJECT }}

    - run: |-
        gcloud --quiet auth configure-docker

    - name: Build to container images
      run: |-
        docker build \
          --tag "gcr.io/$PROJECT_ID/webhook-worker:$VERSION"  \
          --file deployments/docker/webhook-worker/Dockerfile \
          .

        docker build \
          --tag "gcr.io/$PROJECT_ID/dispatcher:$VERSION"  \
          --file deployments/docker/dispatcher/Dockerfile \
          .

        docker build \
          --tag "gcr.io/$PROJECT_ID/orchestrator:$VERSION"  \
          --file deployments/docker/orchestrator/Dockerfile \
          .

    - name: Tag version as latest
      run: |-
        docker tag "gcr.io/$PROJECT_ID/webhook-worker:$VERSION" "gcr.io/$PROJECT_ID/webhook-worker:latest"
        docker tag "gcr.io/$PROJECT_ID/dispatcher:$VERSION"     "gcr.io/$PROJECT_ID/dispatcher:latest"
        docker tag "gcr.io/$PROJECT_ID/orchestrator:$VERSION"   "gcr.io/$PROJECT_ID/orchestrator:latest"

    - name: Publish container images to registry
      run: |-
        docker push "gcr.io/$PROJECT_ID/webhook-worker:$VERSION"
        docker push "gcr.io/$PROJECT_ID/webhook-worker:latest"

        docker push "gcr.io/$PROJECT_ID/dispatcher:$VERSION"
        docker push "gcr.io/$PROJECT_ID/dispatcher:latest"

        docker push "gcr.io/$PROJECT_ID/orchestrator:$VERSION"
        docker push "gcr.io/$PROJECT_ID/orchestrator:latest"
